.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-user-select: none;
  user-select: none;

  // các btn cạnh nhau sẽ cách nhau 1 khoảng 8px
  + .wrapper{
    margin-left: 8px;
  }

  &.disabled{
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title, 
.title + .icon{
    margin-left:  8px;
}

.icon{
  display: inline-block;
  width: 25px;
  text-align: center;
}

// button type
.rounded{
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover{
        border-color: rgba(22, 24, 35, 0.23);
    }
}
.primary {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    border-color: var(--primary-color);
  }
}
.outline{
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover{
        border-color: var(--primary-color);
        background-color: rgba(254, 44,85, 0.06);
    }
}
.text{
    border-color: var(--grey);

    &:hover{
        background-color: rgba(22, 24, 35, .03);
    }
}

//button sizes
.small{
    min-width: 88px;
    padding: 4px 16px;
}

.large{
    min-width: 140px;
    padding: 14px 16px;
}

